<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449167708954-76k1vc8b43kglrg1976chkmjn28ect7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449167708954-76k1vc8b43kglrg1976chkmjn28ect7u</string>
	<key>API_KEY</key>
	<string>AIzaSyCN4MU4STmG8HBm1WRndTQB0D5FJhcZ_Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>449167708954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flammer.cookza</string>
	<key>PROJECT_ID</key>
	<string>cookly-f0c99</string>
	<key>STORAGE_BUCKET</key>
	<string>cookly-f0c99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449167708954:ios:3f4b76a8bfd199a93312a3</string>
	<key>DATABASE_URL</key>
	<string>https://cookly-f0c99.firebaseio.com</string>
</dict>
</plist>